<!-- ========================= FOOTER ========================= -->
<footer class="section-footer bg2">
    <div class="container">
        <section class="footer-bottom row">
            <div class="col-sm-6">
                <p> Desenvolvido com <3 <br> por Leonardo Camargo.</p>
            </div>
            <div class="col-sm-6">
                <p class="text-sm-right">
                    Copyright &copy 2019 <br>
                    <a href="#">DevShop - DevPleno</a>
                </p>
            </div>
        </section> <!-- //footer-top -->
    </div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->

</body>

</html>